* {
    padding: 0;
    margin: 0;
}

body {
    background: #181719;

}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background: #181719;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}