/*==Reset estilos*/

body, h1, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background:  #181719;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/*=== Estilizando menu ===*/
.container {
    background: #181719;
}

.menu {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: #FFFFFF;
}

.menu-logo a {
    font-family: Crimson Pro;
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    width: 86px;
    top: 50px;
    color: #FFFFFF;
    margin-left: 77px;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;


    padding: 5px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
    margin-right: 76px;
}

.menu-nav a:hover {
    color:  #122ab2;
}

.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
}


/*===about===*/

.about {
    display: flex;
    flex-wrap: wrap;
    
}

.about-info {
    flex: 1;
    margin-top: 245px;
}

.about-info h1 {
    margin-left: 77px;
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 61px;
    color: #FFFFFF;
}

.about-info p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-left: 77px;
    color: #FFFFFF;
    margin-top: 41px;
    margin-bottom: 48px;
    margin-right: 87px;

}

.about-info span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 77px;
}

.about-img {
    flex: 1;
    margin-top: 221px;
    
}





/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body,
ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    background: #181719;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background: #181719;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}


.rectangle {
    position: absolute;
    width: 102px;
    height: 32px;
    left: 77px;
    top: 50px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    }
    
    .rectangle a {
        position: absolute;
        width: 86px;
        height: 16px;
        left: 85px;
        top: 50px;
        font-family: Crimson Pro;
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
    }
    
    .home {
    position: absolute;
    width: 57px;
    height: 22px;
    left: 827px;
    top: 46px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    }
    
    .collection {
    position: absolute;
    width: 92px;
    height: 22px;
    left: 970px;
    top: 46px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    }
    
    .about {
    position: absolute;
    width: 57px;
    height: 22px;
    left: 1148px;
    top: 46px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    }
    
    .contact {
    position: absolute;
    width: 73px;
    height: 22px;
    left: 1291px;
    top: 46px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    }
    
    .content h2 {
    position: absolute;
    width: 380px;
    height: 61px;
    left: 77px;
    top: 245px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 61px;
    color: #FFFFFF;
    }
    
    .content p {
    position: absolute;
    width: 410px;
    height: 145px;
    left: 77px;
    top: 347px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    }
    
    .content a {
    position: absolute;
    width: 102px;
    height: 22px;
    left: 77px;
    top: 540px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    }*/
    
    
    