/*==Estilos globais==*/

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #181719;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=== Estilizando menu ===*/
header {
  background: #181719;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between; /*alinhamento horizontal*/
  align-items: center;

  padding: 20px 50px;
}

header > a {
  font-family: "Crimson Pro";
  font-size: 14px;
  font-weight: 200;
  line-height: 16px;
  width: 86px;
  top: 50px;
  color: #ffffff;
  margin-left: 77px;
  text-transform: uppercase;
  border: 1px solid #ffffff;

  padding: 5px;
}

header nav ul {
  display: flex;
}

header li a {
  color: #ffffff;
}

header li {
  margin: 0 15px;
}

/*remove a margin a esquerda do home*/
header li:first-child {
  margin-left: 0;
}

/*remove a margin a direita do contact*/
header li:last-child {
  margin-right: 0;
}

/*===about===*/

.about {
  display: flex;
  /*flex-direction: column;*/

  flex-wrap: wrap;
}

/*.about h1 {
  margin-left: 77px;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 61px;
  color: #ffffff;
}*/

.about p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-left: 77px;
  color: #ffffff;
  margin-top: 41px;
  margin-bottom: 48px;
  margin-right: 87px;
}

.about span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-left: 77px;
}

/*img {
  display: flex;
  width: 821.11px;
  height: 586.53px;
  left: 1395.11px;
  top: 221px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  margin-top: 221px;
}*/
